*{
    margin: 0;
}

/*Cabeçalho*/

.cabeçalho {
    height: 80px;
    width: 100%;
    background-color: #ffb934;
}

.div_nome {
    height: 45px;
    width: 10%;
    float: left;
}

.nome_site {
    width: 14em;
    margin-left: 25%;
}

.botão_padrão {
    font-size:17px;
    height: 70px;
    width: 120px;
    float: left;
    font-family: 'Cormorant', serif;
}

.botão_luffy {
    font-size:17px;
    height: 70px;
    width: 120px;
    float: left;
    margin-left: 20%;    
}

header {
    position: fixed;
    z-index: +1;
    margin-bottom: 15px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li a {
    text-align: center;
    font-size: larger;
    padding: 30px;
    display: block;
}

li a:hover {
    color: #e9260f;
}

a {
    position: relative;
    color: rgb(0, 0, 0);
    text-decoration: none;  
}
#linha a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 20px;
    left: 0;
    background-color:  #e9260f;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

#linha a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(0.4);
}

/*Imagens botões*/

.fundo {
    
    width: 100%;
    height: 670px;
    background-color: black;

}

#animação {
    position:relative;
    top:0;
    padding:4px;
    transition: all .3s ease-in-out
}

#animação:hover {
    top:-20px;
}

.posição {
    float: left;
    margin-left: 6.8%; 
}

.luffy {
    margin-top: 120px;
}

.sanji {
    margin-top: 120px;
}

.nami {
    margin-top: 120px;
}

.zoro {
    margin-top: 120px;
    margin-right: 6%;
}

.usopp {
    margin-top: 147px;
}

/*Sobre o site*/

#sobre {
    width: 100%;
    height: 660px;
    background-color: #fabe4f;
}

.tbl_sobre {
    width: 80%;
    margin-left: 10%;
    padding-top: 150px;
}

.titulo_sobre {
    font-family: 'Cormorant', serif;
    font-size: 50px;
    font-weight: 500;
    color: #000000;
    padding-bottom: 50px;
}

.conteudo_sobre {
    font-family: 'Cormorant', serif;
    font-size: 20px;
    font-weight: 300;
    color: #545454;
    text-align: justify;
    text-indent: 25px;
}

.td_logo {
    padding: 30px 0 0 30px;
}

.logo_sobre {
    width: 100%;
}

/*O que é´One Piece*/

#onepiece {
    width: 100%;
    height: 750px;
    background-color: #1d71df;
}

.tbl_onepiece {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 10%;
}

.titulo_onepiece {
    font-family: 'Cormorant', serif;
    font-size: 50px;
    font-weight: 500;
    color: #ffb934;
    padding-bottom: 50px;
}

.conteudo_onepiece {
    font-family: 'Cormorant', serif;
    font-size:20px;
    font-weight:300;
    color:#ffb934;
    padding: 10px;
    text-align: justify;
    text-indent: 25px;
}

.td_onepiece {
    width: 30%;
}

.capa {
    width: 80%;
    border-radius: 5px;
}

.td_capa {
    padding: 40px;
    width: 20%;
}

/*Rodapé*/

footer {
    background-color: #000000;
    width: 100%;
    height: 130px;
}

.frase {
    color: white;
    font-size: 40px;
}

.frase_nome {
    color:white;
    font-size: 20px;
    text-align: right;
}

.td_frase {
    padding-top: 1.5%;
    margin-left: 37%;
    margin-right: 30%;
}
